# User Testing Report

User testing was conducted by Nigel Elton on Oct 27th between the times of 3:00pm and 6:00pm with the following participants:

- Kathryn Hallet
- Tirzah Wood
- Grace Walker

## Tasks

1. Look for featured ale
2. Read about Home brewing
3. Find what a lager is

---

## Individual Results & Observations

### Kathryn Hallett

- everything went better than expected
- scrolled down and saw it
- navigated efficiently
- solid

### Tirzah Wood

- same as kathryn
- pretty easy navigation (she says)

### Grace Walker

- enjoyed my layouts
- navigation buttons a bit small

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Navigation links need to be bigger


### Serious, Causes Frustration, May Hinder Completion

- sub text needs to be bigger

### Minor, Annoying, Won’t Hinder Completion

- Needs a picture of beer at the top