<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<title>SudBud - Beer Facts and Knowledge</title>
	<link href="css/grid.css" rel="stylesheet">
	<link href="css/general.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width;initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lobster' rel='stylesheet' type='text/css'>
		<!--FACEBOOK-->
  <meta property="og:type" content="article">
  <meta property="og:title" content="SudBud Beer Facts and Knowledge">
  <meta property="og:url" content="http://www.sudbud.com">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://fullurl.com/to-this/image.jpg">
  <meta property="og:site_name" content="Sudbud.com">
  <meta property="og:description" content="Description of this page, same as meta description">
  <!--TWITTER-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Sumo Wrestling - Discover the ancient Japanese sport">
  <meta name="twitter:url" content="http://sudbud.com">
  <meta name="twitter:description" content="Description of this page, same as meta description">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="http://fullurl.com/to-this/image.jpg">

	<meta name="description" content="Whether you've only had one pint or you're a coniseuor of ales, delve deep into our site and learn what makes beer, well, beer.">
</head>

<body id="top">

	<ul class="skiplinks">
		<li><a href="#main">Skip to primary content</a></li>
		<li><a href="#complementary">Skip to secondary content</a></li>
		<li><a href="#navigation">Skip to navigation content</a></li>
	</ul>

<header role="banner">

	<h1><img src="images/logo.svg" alt="Sudbud"></h1>


			<nav class="nav" id="navigation">
			<ul class="skiplinks">
				<li><a href="index.html" class="nav-link">Home</a></li>
				<li><a href="brewing.html" class="nav-link">Brewing</a></li>
				<li><a href="types.html" class="nav-link">Types</a></li>
				<li><a href="storage.html" class="nav-link">Storage</a></li>
			</ul>
			</nav>

</header>

{{content}}

<footer>
	<!-- Content info defines things like copyright, privacy, terms of use !-->
	<p role="contentinfo">© SudBud</p>
	<a href="#top">Top</a>
</footer>

</body>
</html>
